:root{
    --balloon-shadow-color: #7f2c2c;
    --balloon-color: #ff5959;
    --balloon-rope-color: #333e48;
    --balloon-basket-color: #65513c;
    --balloon-top-basket-color: #b08876;
}

.dark-mode:root {
    --balloon-shadow-color: #ff5959;
    --balloon-color: #7f2c2c;
    --balloon-rope-color: #333e48;
    --balloon-basket-color: #31281d;
    --balloon-top-basket-color: #634c42;
}

.hot-air-balloon {
    position: absolute;
    height: 10vh;
    width: auto;
    object-fit: cover;
    animation: balloon-movement 10s linear infinite;
}

#git {
    top: 20vh;
    left: calc(75vw + 5vh);
}

#email {
    top: 5vh;
    left: 5%;
}

#linkedin {
    top: 25vh;
    right: calc(75vw + 2vh);
}

#balloon-rope {
    fill: var(--balloon-rope-color);
}

#balloon-basket {
    fill: var(--balloon-basket-color);
}

#balloon-top-basket {
    fill: var(--balloon-top-basket-color);
}

#balloon {
    fill: var(--balloon-color);
}

#balloon-gradient {
    stop {
        stop-color: var(--balloon-shadow-color);
        transition: stop-color 0.5s ease;
    }
}

#balloon-shadow {
    fill: url(#balloon-gradient);
}

#balloon-rope, #balloon-basket, #balloon-top-basket, #balloon, #balloon-shadow {
    transition: fill 0.5s ease;
}

@keyframes balloon-movement {
    0% {
        transform: translate(0%, 0%);
    }
    10% {
        transform: translate(4%, 4%);
    }
    20% {
        transform: translate(3%, 6%);
    }
    30% {
        transform: translate(-1%, 5%);
    }
    40% {
        transform: translate(-4%, 3%);
    }
    50% {
        transform: translate(1%, 0%);
    }
    60% {
        transform: translate(4%, -3%);
    }
    70% {
        transform: translate(-1%, -10%);
    }
    80% {
        transform: translate(-10%, -10%);
    }
    90% {
        transform: translate(-10%, 6%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}