:root {
    --sun-rotation: 0deg;
}

.dark-mode-button {
    position: fixed;
    height: 10vh;
    aspect-ratio: 1 / 1;
    top: 2.5vh;
    border-radius: 50%;
    transition: right 0.5s ease;
}

#moon {
    right: -10vh;
    background-color: #b2bcc5; /*remove later*/
}

#sun {
    right: 2.5vh;
}

#sun-core {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
    /*animation: sun-rotation 20s linear infinite;*/
}

#sun-border {
    position: absolute;
    height: 1vh;
    width: 1vh;
    top: 5%;
    left: calc(50% - .5vh);
    /*animation: sun-rotation 10s linear infinite;*/
}

@keyframes sun-rotation {

    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}