:root {
    --sun-rotation: 0deg;
}

.dark-mode-button {
    position: fixed;
    height: 10vh;
    width: 10vh;
    top: 2.5vh;
    transition: right 0.5s ease;
}

#moon {
    right: -10vh;
    border-radius: 100%;
}

#sun {
    right: 2.5vh;
}

#sun-core {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
    animation: sun-rotation 10s linear infinite;
    transform-origin: center;
}

#sun-border {
    position: absolute;
    height: 1vh;
    width: 1vh;
    top: 5%;
    left: calc(50% - .5vh);
    animation: sun-rotation 20s linear infinite;
    transform-origin: center;
}

@keyframes sun-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}