body {
    background-color: var(--sky-color);
    transition: background-color 0.5s ease;
}

:root {
    --sky-color: #6bc7f1;
}

.dark-mode:root {
    --sky-color: #01041b;
}

/*dark mode*/
.dark-mode-button {
    width: 100px;
    height: 100px;
    top: calc(min(10%, 50px));
    border-radius: 50%;
    position: fixed;
    transition: right 0.5s ease;
}

#moon {
    right: -100px;
    background-color: #b2bcc5;
}

#sun {
    right: 50px;
    background-color: #f2c55c;
}

.half-screen {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
}

#info {
    top: 0;
    border: 1px solid greenyellow;
}

#city {
    top: 50%;
    border: 1px solid red;
}

#circle-link {
    display: block;
}

#my-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}