@import "balloon.css";
@import "dark-mode-button.css";

body {
    background-color: var(--sky-color);
    transition: background-color 0.5s ease;
    overflow: hidden;
}

:root {
    --sky-color: #6bc7f1;
}

.dark-mode:root {
    --sky-color: #01041b;
}

.half-screen {
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0;
}

#info {
    top: 0;
}

#city {
    top: 50vh;
    /*background-color: #b2bcc5; !*remove later*!*/
}

#my-image {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 5vh;
    left: calc(50% - 15vh);
    border-radius: 50%;
    object-fit: cover;
}

.my-description {
    position: absolute;
    height: 10vh;
    width: 80vw;
    top: 40vh;
    left: 10vw;
    object-fit: cover;
}